/*VARIABLES*/
/*ESTRUCTURAS*/
/*HEADER Y FOOTER*/
header {
  grid-area: cabeza;
  margin-bottom: -5%; }

footer {
  grid-area: pie;
  text-align: left;
  padding: 5%;
  background-color: #6E8DA4;
  color: white;
  font-family: Electrolize;
  font-size: large; }

body {
  background-color: #202529; }

/*INDEX*/
#index {
  display: grid;
  grid-template-areas: "cabeza" "subtitulo" "index" "pie";
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 0.2fr 2fr fit-content;
  gap: 10%; }

section#index {
  grid-area: index;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr fit-content;
  gap: 5%;
  margin-left: 10%;
  grid-template-areas: "index1"  "index2" "index3"  "index4"; }

/*REPARACIONES*/
#reparaciones {
  display: grid;
  grid-template-areas: "cabeza" "subtitulo" "repair" "pie";
  gap: 10%;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 0.2 2fr fit-content; }

section#repair {
  grid-area: repair;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-left: 10%;
  margin-right: 10%;
  grid-template-areas: "rep1 rep2 rep3"  "rep4 rep5 rep6"; }

/*NOVEDADES*/
#nosotros {
  display: grid;
  grid-template-areas: "cabeza" "subtitulo" "staff" "mapa" "pie";
  gap: 7%;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 0.2fr fit-content 1.1fr 0.4fr; }

section#staff {
  grid-area: staff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 5px;
  padding-left: 10%;
  padding-right: 10%;
  grid-template-areas: "staff1 staff2 staff3"; }

section#mapa {
  grid-area: mapa;
  background-color: #202529;
  text-align: left;
  overflow: hidden;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 5%; }

/*NOSOTROS*/
#novedades {
  display: grid;
  grid-template-areas: "cabeza" "subtitulo" "novedades" "pie";
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 0.2fr fit-content 0.4fr; }

section#novedades {
  grid-area: novedades;
  background-color: #202529;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%; }

/*CONTACTO*/
#contacto {
  display: grid;
  grid-template-areas: "cabeza" "subtitulo" "form" "pie";
  gap: 5%;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 0.2 fit-content 0.4fr; }

section#form {
  grid-area: form;
  padding-bottom: 5%;
  margin-left: 20%;
  margin-right: 20%; }

/*TITULOS Y TEXTOS*/
.fuenteDelSitio {
  font-family: Electrolize;
  font-weight: bold;
  color: white; }

.fuenteDelTitulo {
  font-family: 'Montserrat', sans-serif;
  font-size: 9vw;
  color: #A4ADD7; }

.fuenteLogo {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  color: #6E8DA4; }

.fuenteSubtitulos {
  font-family: 'Montserrat', sans-serif;
  font-size: 6vw;
  color: #A4ADD7;
  padding-left: 5%; }

/*BANNER*/
.banner {
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px; }

.banner > p {
  color: #E8EBF6;
  padding: 10px; }

/*FONDOS BANNER*/
.fondoBanner1 {
  background-image: url(/css/banners/fotoBanner.png); }

.fondoBanner2 {
  background-image: url(/css/banners/Banner2.png); }

.fondoBanner3 {
  background-image: url(/css/banners/Banner3.png); }

.fondoBanner4 {
  background-image: url(/css/banners/Banner4.png); }

.fondoBanner5 {
  background-image: url(/css/banners/Banner5.png); }

/*CARDS INDEX**/
.tarjeta {
  padding-left: 15vh;
  padding-right: 15vh;
  max-width: 90%;
  max-height: 90%;
  font-size: large; }

.imagenTarjeta {
  width: 100%;
  max-width: 250px;
  height: auto;
  transition: transform .4s; }

.imagenTarjeta:hover {
  transform: scale(1.5); }

/*BOTON DE CARDS*/
.middle {
  position: relative;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px; }

.btn {
  position: relative;
  display: block;
  color: white;
  font-size: 14px;
  font-family: "montserrat";
  text-decoration: none;
  margin: 30px 0;
  border: 2px solid #ff7675;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease; }

.btn::before {
  background: #ff7675;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease; }

.btn3::before {
  width: 100%;
  height: 0%;
  transform: translate(-50%, -50%) rotate(45deg); }

.btn3:hover::before {
  height: 380%; }

/*LINKS REDES SOCIALES*/
.boton {
  background-color: #6E8DA4;
  border: #023047; }

.scale {
  transform: scale(1.5); }

/*FOTOS REDONDAS*/
.bio-photo {
  border-radius: 50%;
  border: 20px solid #6E8DA4;
  display: block;
  width: 100%;
  height: 300px;
  height: auto; }

.img-hover {
  position: relative;
  width: 100%; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: var(--width);
  opacity: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  border: 20px solid #AE4456; }

.img-hover:hover .overlay {
  opacity: 1; }

.hover-text {
  color: white;
  font-size: 3vw;
  font-family: Electrolize;
  font-weight: bold;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; }

.hover-subtext {
  color: white;
  font-size: 1.5vw;
  font-family: Electrolize;
  font-weight: bold;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; }

/* IFRAMES RESPONSIVE*/
.responsive-map-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.responsive-map-container iframe,
.responsive-map-container object,
.responsive-map-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.div_contenedor {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0; }

.div_contenedor iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* MEDIA QUERIES */
@media only screen and (min-width: 501px) and (max-width: 720px) {
  section#staff {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 5px;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-areas: "staff1" "staff2" "staff3"; }
  section#repair {
    grid-area: repair;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 5%;
    margin-right: 5%;
    grid-template-areas: "rep1 rep2"  "rep3 rep4"  "rep5 rep6"; }
  .hover-text {
    font-size: 8vw; }
  .hover-subtext {
    font-size: 4vw; }
  .banner {
    align-items: flex-start;
    height: 400px; }
  section#mapa {
    padding-left: 5%;
    padding-right: 5%; } }

@media only screen and (max-width: 500px) {
  section#index {
    grid-area: index;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5%;
    grid-template-areas: "index1"  "index2" "index3"  "index4"; }
  section#repair {
    grid-area: repair;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-left: 7%;
    padding-right: 7%;
    grid-template-areas: "rep1"  "rep2"  "rep3"  "rep4"  "rep5"  "rep6"; }
  .tarjeta {
    padding-left: 5vh;
    padding-right: 5vh;
    max-width: 90%;
    max-height: 90%; }
  section#mapa {
    padding-left: 5%;
    padding-right: 5%; }
  .hover-text {
    font-size: 8vw; }
  .hover-subtext {
    font-size: 4vw; }
  .banner {
    width: 100%;
    height: 250px; }
  section#staff {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 5px;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-areas: "staff1" "staff2" "staff3"; }
  section#novedades {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%; }
  section#form {
    margin-left: 10%;
    margin-right: 10%; }
  .banner {
    align-items: flex-start;
    height: 400px; }
  .fuenteDelTitulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 11vw;
    color: #A4ADD7; }
  .fuenteSubtitulos {
    font-family: 'Montserrat', sans-serif;
    font-size: 11vw;
    color: #A4ADD7;
    padding-left: 5%; } }
